@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
@import url("../dist/bootstrap/css/bootstrap.min.css");
@import url("../dist/font-awesome/css/font-awesome.min.css");

:root {
  --main-font: "Changa One", cursive, sans-serif, Arial, Helvetica;
  --sub-text-font: "Inter", sans-serif, Arial, Helvetica;
  --primary-color: #282828;
  --secondary-color: #e33c3d;
  --secondary-lite-color: #f44d4e;
  --white: #ffffff;
  --navi-blue: #0a224e;
}

body {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: normal;
}
a,
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}
*:focus {
  outline: none;
}
button:active,
button:focus,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.img-responsive,
.navbar-brand > img {
  display: inline-block;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 400;
  text-transform: uppercase;
}
h1 {
  font-size: 44px;
}
p,
li {
  color: var(--primary-color);
  font: 400 15px/1.5 var(--sub-text-font);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.clearfix {
  clear: both;
  margin: 0px;
  padding: 0px;
}
.center {
  text-align: center;
}

.fixed-top {
  position: absolute;
}

.navbar .navbar-nav .nav-item {
  color: var(--primary-color);
  font: 400 14px var(--main-font);
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link {
  color: var(--primary-color);
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}
.navbar .navbar-nav .nav-link.active {
  color: var(--secondary-color);
}

.btn {
  border-radius: 30px;
  font: 400 15px var(--main-font);
  padding: 0.825rem 1.3rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--white);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--secondary-lite-color);
  border-color: var(--secondary-lite-color);
}

.btn-outline {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.banner {
  background: url("../images/banner.jpg") no-repeat center top / cover;
  clear: both;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
  width: 100%;
}
.banner .bigfoots {
  background: url("../images/bigfoots.png") no-repeat center bottom / 58%;
  clear: both;
  padding: 10% 0px 30%;
  width: 100%;
}
.banner .btn-primary {
  padding: 1.125rem 1.5rem;
}
.grass {
  background: url("../images/grass.png") no-repeat center bottom / cover;
  bottom: 0px;
  clear: both;
  height: 50px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.utility {
  background-color: var(--navi-blue);
  clear: both;
  padding: 7% 0px;
  width: 100%;
}
.utility h1,
.utility p {
  color: var(--white);
}
.utility .max {
  border-radius: 30px;
  font: 400 24px var(--main-font);
  padding: 0.825rem 1.3rem;
  text-transform: uppercase;
  max-width: 384px;
}

.utility .carousel-item {
  display: inline-block;
  margin: 0;
  width: 50%;
}
.utility .carousel-item .name {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  opacity: 0;
  margin: -20px auto 0px;
  padding: 2px 2px;
  position: relative;
  width: 75%;
  z-index: 1;
}
.utility .carousel-item .name p {
  background-color: var(--secondary-color);
  border-radius: 7px;
  color: var(--white);
  font: 400 18px var(--main-font);
  margin: 0px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
}
.utility .carousel-item.active {
  display: block;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  z-index: 1;
}
.utility .carousel-item.active .name {
  opacity: 1;
}
.utility .carousel-control-next,
.utility .carousel-control-prev {
  background: transparent;
  border: 0px;
  bottom: 0;
  opacity: 1;
  margin-bottom: -50px;
  padding: 0px;
  height: 35px;
  top: inherit;
  width: 35px;
}
.utility .carousel-control-next {
  margin-right: 42%;
}
.utility .carousel-control-prev {
  margin-left: 42%;
}
.utility .carousel-control-prev-icon {
  background: url("../images/arrow-left.svg") no-repeat 0% 0% / 100%;
  height: 35px;
  width: 35px;
}
.utility .carousel-control-next-icon {
  background: url("../images/arrow-right.svg") no-repeat 0% 0% / 100%;
  height: 35px;
  width: 35px;
}

.cloud {
  background: url("../images/cloud.png") no-repeat center 10% / contain,
    url("../images/cloud_01.png") no-repeat 115% 32%;
  clear: both;
  width: 100%;
}

.buy {
  background: rgb(255, 212, 213);
  background: linear-gradient(
    0deg,
    rgba(255, 212, 213, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  clear: both;
  padding: 7% 0px 0px;
  width: 100%;
}
.buy h3 {
  color: var(--secondary-color);
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}
.buy h4 {
  color: var(--secondary-color);
  font: 24px;
  text-transform: capitalize;
}
.buy span {
  display: block;
  font: 400 15px var(--main-font);
  text-align: center;
  width: 100%;
}
.buy .progress {
  height: 8px;
}
.buy .progress-bar {
  background-color: var(--secondary-color);
}
.buy .percent {
  color: var(--primary-color);
  font: 400 15px var(--sub-text-font);
  text-align: right;
  width: 100%;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.number-input.number-input {
  margin-bottom: 5%;
  position: relative;
  width: 100%;
}
.number-input.number-input a {
  width: 2.6rem;
  height: 0.7rem;
  position: absolute;
  color: var(--secondary-color);
  font-size: 20px;
  width: 20px;
  right: 15px;
}
.number-input.number-input a:first-child {
  top: 8px;
}
.number-input.number-input a:last-child {
  top: 26px;
}
.number-input.number-input input[type="number"] {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  font: 400 24px var(--main-font);
  height: 60px;
  line-height: 60px;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -0.3rem;
    }
  }
}

.roadmap {
  clear: both;
  margin-bottom: -10%;
  padding-top: 5%;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.roadmap .col {
  margin-bottom: 4%;
}
.roadmap .foot {
  margin-bottom: -8%;
}
.roadmap .foot img {
  width: 525px;
}
.roadmap .roadprint {
  background: url("../images/road_03.svg") no-repeat right -10px / 260px 318px,
    url("../images/road_04.svg") no-repeat left bottom / 510px 320px;
  clear: both;
  padding-bottom: 4%;
  width: 100%;
}
.roadmap .justify-content-start {
  margin-right: 15%;
}
.roadmap .justify-content-end {
  margin: 0px 5% 0px 10%;
}
.roadmap .justify-content-center {
  margin-top: -4%;
}
.roadmap figure {
  margin: 0px auto;
  width: 89px;
}

.trait {
  clear: both;
  padding: 7% 0px;
  width: 100%;
}
.trait h1 {
  margin-bottom: 5%;
}
.trait .form-select {
  background: url(../images/icn_02.svg) no-repeat right 0.75rem center;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  color: var(--secondary-color);
  font-size: 24px;
  margin: 12% 0px 7%;
  padding: 5px 15px;
  max-width: 275px;
  width: 100%;
}
.trait .form-select option {
  font: 400 24px var(--sub-text-font);
}

.trait .form-check-label {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}
.trait .form-check-input {
  border-color: var(--secondary-color);
  height: 22px;
  width: 22px;
}
.trait .form-check-input:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.trait .form-check {
  padding-left: 2.5rem;
}
.trait .form-check .form-check-input {
  margin-left: -2.5rem;
}

.trait .carousel-item {
  display: inline-block;
  margin: 7% 5%;
  width: 40%;
}
.trait .carousel-item .card {
  background: transparent;
  clear: both;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.trait .carousel-item .card img {
  filter: blur(10px) contrast(70%) brightness(125%);
  -webkit-filter: blur(10px) contrast(70%) brightness(125%);
}
.trait .carousel-item .horns {
  bottom: 10px;
  display: none;
  left: 0;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  z-index: 1;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}
.trait .carousel-item .horns h3 {
  color: var(--white);
  font-size: 24px;
  margin: 0px;
  text-transform: uppercase;
}
.trait .carousel-item .horns p {
  color: var(--white);
  margin: 0px;
}

.trait .carousel-item.active {
  display: block;
  position: absolute;
  margin: 0px;
  left: 25%;
  right: 25%;
  width: 50%;
  z-index: 1;
}
.trait .carousel-item.active .horns,
.trait .carousel-item.active .card img {
  filter: blur(0px) contrast(100%) brightness(100%);
  -webkit-filter: blur(0px) contrast(100%) brightness(100%);
}
.trait .carousel-item.active .horns {
  display: block;
  opacity: 1;
}

.trait .carousel-control-next,
.trait .carousel-control-prev {
  background: transparent;
  border: 0px;
  bottom: 0;
  opacity: 1;
  margin-bottom: -70px;
  padding: 0px;
  height: 49px;
  top: inherit;
  width: 49px;
}
.trait .carousel-control-next {
  margin-right: 42%;
}
.trait .carousel-control-prev {
  margin-left: 42%;
}
.trait .carousel-control-prev-icon {
  background: url("../images/arrow-left-01.svg") no-repeat 0% 0% / 100%;
  height: 49px;
  width: 49px;
}
.trait .carousel-control-next-icon {
  background: url("../images/arrow-right-01.svg") no-repeat 0% 0% / 100%;
  height: 49px;
  width: 49px;
}

.what {
  background: url("../images/wht_bg.jpg") no-repeat center top / cover;
  clear: both;
  padding: 12% 0px 18%;
  position: relative;
  width: 100%;
}
.what h1,
.what p {
  color: var(--white);
}
.what .bogboots {
  width: 80%;
}
.what .land {
  bottom: 0;
  clear: both;
  left: 0;
  position: absolute;
  width: 100%;
}

.faqs {
  background: url("../images/faq_bg.jpg") no-repeat center top / cover;
  clear: both;
  padding: 8% 0px;
  width: 100%;
}
.faqs h1 {
  color: var(--white);
  margin-bottom: 5%;
}
.faqs .accordion-button.collapsed {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}
.faqs .accordion-button::after {
  background: url("../images/icn_plus.svg") no-repeat right top / 30px;
  height: 30px;
  width: 30px;
}
.faqs .accordion-button:not(.collapsed)::after {
  background: url("../images/icn_plus_01.svg") no-repeat right top / 30px;
  transform: rotate(40deg);
}
.faqs .accordion-item:first-of-type .accordion-button,
.faqs .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 12px;
}
.faqs .accordion-button:not(.collapsed) {
  color: var(--white);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}
.faqs .accordion-body {
  color: var(--white);
  font-family: var(--sub-text-font);
  font-size: 16px;
  margin: 12px 0px;
}

.team {
  clear: both;
  padding: 5% 0px 0px;
  text-align: center;
  width: 100%;
}
.team img {
  border-radius: 15px;
}
.team h3 {
  color: var(--secondary-color);
  font-size: 22px;
}
.team p {
  color: var(--white);
  text-transform: capitalize;
}

footer {
  background-color: var(--navi-blue);
  clear: both;
  padding: 3% 0px;
  text-align: center;
  width: 100%;
}
footer p {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 0px;
}
footer hr {
  background-color: var(--white);
  margin: 15px auto;
  opacity: 0.5;
  width: 50px;
}
footer .fa {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 0px 7px;
  text-align: center;
  width: 40px;
}
footer .fa:hover {
  color: var(--white);
  border-color: var(--white);
}

/*-------------------
    Media Query
---------------------------*/

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  .col {
    flex-basis: auto;
  }
  .navbar-brand {
    width: 150px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-collapse {
    background-color: var(--white);
  }
  .navbar .navbar-nav .nav-item {
    padding: 0rem 0.5rem;
  }
  .navbar .d-flex {
    margin: 0px 0px 10px 0.5rem;
  }
  .banner .bigfoots {
    background-size: 90%;
    padding: 100px 0px 180px;
  }
  .grass {
    background-size: 100% 30px;
  }
  .banner p br {
    display: none;
  }
  .utility {
    padding-bottom: 25%;
  }
  .utility .max {
    font-size: 19px;
  }
  .carousel {
    margin-top: 20px;
  }
  .utility .carousel-item .name p {
    font-size: 13px;
  }
  .utility .carousel-control-prev {
    margin-left: 35%;
  }
  .utility .carousel-control-next {
    margin-right: 35%;
  }
  .roadmap .roadprint {
    background: none;
  }
  .roadmap .foot {
    display: none;
  }
  .roadmap .justify-content-start,
  .roadmap .justify-content-end {
    margin: 0px;
  }
  .trait {
    padding-bottom: 100px;
  }
  .trait .carousel-item {
    margin: 12% 5%;
  }
  .trait .carousel-item.active {
    left: 20%;
    right: 20%;
    width: 61%;
  }
  .trait .carousel-item .horns {
    bottom: 4px;
    padding: 5px 8px;
  }
  .trait .carousel-item .horns h3 {
    font-size: 12px;
  }
  .trait .carousel-item .horns p {
    font-size: 8px;
  }
  .trait .carousel-control-prev {
    margin-left: 35%;
  }
  .trait .carousel-control-next {
    margin-right: 35%;
  }
  .what {
    padding-top: 100px;
  }
  footer {
    padding: 15px 0px 30px;
  }
  footer img {
    width: 200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 560px) {
  .trait .carousel-control-prev {
    margin-left: 32%;
  }
  .trait .carousel-control-next {
    margin-right: 32%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 14px;
  }
  .navbar-brand {
    width: 150px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-collapse {
    background-color: var(--white);
  }
  .navbar .navbar-nav .nav-item {
    padding: 0rem 0.5rem;
  }
  .navbar .d-flex {
    margin: 0px 0px 10px 0.5rem;
  }
  .banner .bigfoots {
    background-size: 78%;
    padding: 15% 0px 40%;
  }
  .utility .max {
    font-size: 19px;
  }
  .utility .carousel-item .name p {
    font-size: 12px;
  }
  .utility .carousel-control-prev {
    margin-left: 38%;
  }
  .utility .carousel-control-next {
    margin-right: 38%;
  }
  .roadmap .col {
    margin: 0px;
  }
  .roadmap .foot img {
    width: 305px;
  }
  .roadmap figure {
    width: 65px;
  }
  .roadmap p {
    font-size: 12px;
  }
  .roadmap .roadprint {
    background: url("../images/road_03.svg") no-repeat right 0% /180px,
      url("../images/road_04.svg") no-repeat left bottom / 340px;
  }
  .trait .carousel-item {
    margin: 12% 5%;
  }
  .trait .carousel-item.active {
    left: 20%;
    right: 20%;
    width: 60%;
  }
  .trait .carousel-item .horns {
    bottom: 7px;
    padding: 5px 12px;
  }
  .trait .carousel-item .horns h3 {
    font-size: 16px;
  }
  .trait .carousel-item .horns p {
    font-size: 12px;
  }
  .trait .carousel-item .horns img {
    width: 30px;
  }
  .trait .carousel-control-prev {
    margin-left: 38%;
  }
  .trait .carousel-control-next {
    margin-right: 38%;
  }
  .what h1 {
    font-size: 28px;
  }
  .what p {
    font-size: 13px;
  }
  .faqs .accordion-button.collapsed,
  .faqs .accordion-button:not(.collapsed) {
    font-size: 16px;
  }
  .faqs .accordion-body {
    font-size: 14px;
    margin: 0px;
  }
  .faqs .accordion-button {
    padding: 0.5rem 0.725rem;
  }
  footer img {
    width: 250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .utility .carousel-control-prev {
    margin-left: 40%;
  }
  .utility .carousel-control-next {
    margin-right: 40%;
  }
  .roadmap .col {
    margin: 0px;
  }
  .roadmap .foot img {
    width: 421px;
  }
  .roadmap .roadprint {
    background: url("../images/road_03.svg") no-repeat right 0% / 230px,
      url("../images/road_04.svg") no-repeat left bottom / 420px;
  }
  .roadmap .col {
    margin-bottom: 10px;
  }
  .trait .carousel-item .horns {
    bottom: 7px;
  }
  .trait .carousel-item .horns h3 {
    font-size: 20px;
  }
  .trait .carousel-item .horns p {
    font-size: 13px;
  }
  .trait .carousel-control-prev {
    margin-left: 40%;
  }
  .trait .carousel-control-next {
    margin-right: 40%;
  }
  .faqs .accordion-body {
    margin: 0px;
  }
}

.swiper-slide {
  border-radius: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slider_sec {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider_sec img {
  border-radius: 15px;
}

.number_card {
  background-color: #000;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  color: #e33c3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 300;
  box-shadow: 0 0 0 6px hsl(0, 0%, 100%), 0 0 0 8px rgba(0, 0, 0, 100%);
}

.slick-prev:before,
.slick-next:before {
  color: #e33c3d !important;
  font-size: 30px !important;
}

.slick-prev {
  left: -35px !important;
}

@media screen and (max-width: 575px) {
  .number_card {
    width: 60px;
    font-size: 1.8rem;
    height: 60px;
  }
}

@media screen and (max-width: 575px) {
  #middle-road {
    flex-direction: column-reverse;
  }
}

.information {
  text-align: center;
  background-color: #415880;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.information p {
  font-family: var(--main-font);
}

.rarity {
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.name {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 22px;
}

.drop {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
}

.mySlides {
  display: none;
}

.bigfoot-images {
  border-radius: 10px;
}
